@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Prompt',"Raleway", sans-serif;
}

.row {  
    display: flex;
    flex-wrap: wrap;
  }

.sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 30%;
    background-color: #97c8a8;
    position: fixed;
    height: 100%;
    font-weight: bold;
    font-size: 22px;
}

ul li a {
    display: block;
    color: whitesmoke;
    padding: 10px 16px;
    text-decoration: none;
}

ul li a.active {
    background-color: #153462;
    color: whitesmoke;
}

ul li a:hover:not(.active) {
    background-color: #4fa095;
    color: whitesmoke;
}

.logo {
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
}

.content {
    flex: 70%; 
    margin-left: 150px;
    padding: 1px 16px;
}

.sidebar img {
    float: right center;
    margin-top: 20px;
    width: 150px;
}

#footer{
    float: right;
    margin: 5px;
    color: #fff;
}

@media screen and (max-width:940px) {
    .content{
        margin-left: 0;
    }
    .sidebar{
        position: relative;
    }
    .row {
        flex-direction: column;
    }
}
